@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scrollBackground {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}
/* Autofill fix for dark mode */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important; /* bg-gray-800 */
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

